{% extends "layout.html" %}

{% block title %}
    help
{% endblock %}

{% block main %}
<!-- information page, only display information about every page of the webside. just text. -->
    <h1>Help and information</h1>
    <div style="text-align:left">
        <h3>
            Home page
        </h3>
        <p style="margin-left:50px">
        Your home page shows information about all the stocks you own. Additionally, the home page display the amount of cash you have available for
        in the market, your total assets and your profit in both cash and percent. To access the home page, click the VAL$treet logo in the top left corner.
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            Search
        </h3>
        <p style="margin-left:50px">
            In search, you can find stock that are updated in our database. All you have to do is search for the name of the company you want to find or some part
            of the name of the company, and our search engine will do the job. You can see the name, symbol, current price and when the stock was last updated.
        </p>
        <p style="margin-left:50px">
            Our seaech engine is improved by user activity. If you can´t find a stock in our database, please help us improve our database by looking up
            the ticker (1-5 letter symbol) of the stock of the company you want to lookup. If you search for the ticker in our search engine, it will
            automatically be added to our database. please help us by doing so if we don´t have a company.
        </p>
        <p style="margin-left:50px">
            On our search page, you can easily see the top 10 most searched stocks in our database. If you click "show all", you´ll be able to see the whole
            database. It can be overwelming, so please search for the stock if you can´t find it easily.
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            Buy
        </h3>
        <p style="margin-left:50px">
            All you have to do to buy a stock is to enter the symbol/ticker of the stock and the amount of shares you want to buy.
            if the transaction is successful, you will be directed to the index page and you´ll be able to see the stock.
            To find the symbol of the stock, search for the stock in on the search page
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            Sell
        </h3>
        <p style="margin-left:50px">
            The process of selling a stock is fairly simple; you choose the stock you want to sell from the select menu and enter the amount of shares you
            want to sell. You can see the stock and shares you own on the page to make good decisions.
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            History
        </h3>
        <p style="margin-left:50px">
            In history, you can see all your transactions. When you enter the page, you can see the last 10 transactions you´ve made, if you click
            "show all", you´ll be able to see all your transactions.
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            Leaderboard
        </h3>
        <p style="margin-left:50px">
            VAL$treet also have a leaderboard that keeps track of all users profit and rank them accordingly. The leaderboard is ranked by profit in percent.
            You can see your rank, plus top 10. If you click "show all", you can see the whole table.
        </p>
    </div>
    <div style="text-align:left">
        <h3>
            Challenges
        </h3>
        <p style="margin-left:50px">
            In Challenges there is a list of challenges that you can complete to earn more cash. The cash will automatically be added to your account if you
            complete the challenge. Each challenge can only be completed once. The challenge page will keep track of which challenge you have completed.
        </p>
        <p style="margin-left:50px">
            Keep in mind that when you receive cash after completing your challenge, you will receive more money in your account, which means your
            profit will go down.
            An example of this is that if you´ve made $1100 from your original $10000, and you earn $1000, your overall profit will go down from 11% to 10%.
        </p>
    </div>
{% endblock %}
